In [1]:
import pandas as pd

In [2]:
df_id_dimensions = pd.read_csv('SUSTC_Journals/articles_all/article_ids.csv')
df_id_altmetrics = pd.read_csv('SUSTC_Journals/articles_all/article_altmetric_id.csv')
df_id_scopus = pd.read_csv('SUSTC_Journals/articles_all/article_scopus_eid.csv')

In [3]:
df_id_dimensions

,SO,SO_id,DI,dimensions_id
0,Journal of Accounting and Economics,jour.1138469,10.1016/s0165-4101(18)30119-8,pub.1110223808
1,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.013,pub.1106857635
2,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.002,pub.1106857634
3,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.012,pub.1106286706
4,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.010,pub.1106173025
...,...,...,...,...
1230625,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0048,pub.1006571108
1230626,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0044,pub.1005959898
1230627,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0025,pub.1003816057
1230628,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0034,pub.1003560943
1230629,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0053,pub.1002941926

In [4]:
df_id_altmetrics

                                    DI  altmetric_id
0        10.1016/j.econlet.2016.10.029           NaN
1             10.1177/0952695114566080     3265554.0
2           10.1108/ijwhm-10-2014-0045           NaN
3        10.1080/02699931.2016.1217828    10649084.0
4         10.1080/00913367.2013.857621     6417363.0
...                                ...           ...
1230624          10.1353/hrq.2014.0048           NaN
1230625          10.1353/hrq.2014.0044           NaN
1230626          10.1353/hrq.2014.0025           NaN
1230627          10.1353/hrq.2014.0034           NaN
1230628          10.1353/hrq.2014.0053           NaN

[1230629 rows x 2 columns]

In [5]:
df_id_scopus

                                   doi                 eid
0        10.1016/s0165-4101(18)30119-8                 NaN
1        10.1016/j.jacceco.2018.08.013                 NaN
2        10.1016/j.jacceco.2018.08.002                 NaN
3        10.1016/j.jacceco.2018.08.012  2-s2.0-85052300213
4        10.1016/j.jacceco.2018.08.010                 NaN
...                                ...                 ...
1229964   10.1016/j.jmapro.2018.06.001  2-s2.0-85047948456
1229965   10.1016/j.jmapro.2018.05.036                 NaN
1229966   10.1016/j.jmapro.2018.05.035                 NaN
1229967   10.1016/j.jmapro.2018.05.030                 NaN
1229968   10.1016/j.jmapro.2018.05.023                 NaN

[1229969 rows x 2 columns]

In [7]:
df = df_id_dimensions.merge(df_id_altmetrics, on='DI')

In [8]:
df = df.merge(df_id_scopus, left_on='DI', right_on='doi')

In [9]:
df

,SO,SO_id,DI,dimensions_id,altmetric_id,doi,eid
0,Journal of Accounting and Economics,jour.1138469,10.1016/s0165-4101(18)30119-8,pub.1110223808,NaN,10.1016/s0165-4101(18)30119-8,NaN
1,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.013,pub.1106857635,NaN,10.1016/j.jacceco.2018.08.013,NaN
2,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.002,pub.1106857634,NaN,10.1016/j.jacceco.2018.08.002,NaN
3,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.012,pub.1106286706,47126590.0,10.1016/j.jacceco.2018.08.012,2-s2.0-85052300213
4,Journal of Accounting and Economics,jour.1138469,10.1016/j.jacceco.2018.08.010,pub.1106173025,49466489.0,10.1016/j.jacceco.2018.08.010,NaN
...,...,...,...,...,...,...,...
1233123,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0048,pub.1006571108,NaN,10.1353/hrq.2014.0048,2-s2.0-84908453804
1233124,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0044,pub.1005959898,NaN,10.1353/hrq.2014.0044,2-s2.0-84905651252
1233125,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0025,pub.1003816057,NaN,10.1353/hrq.2014.0025,2-s2.0-84901001474
1233126,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0034,pub.1003560943,NaN,10.1353/hrq.2014.0034,2-s2.0-84905645676
1233127,Human Rights Quarterly,jour.1026658,10.1353/hrq.2014.0053,pub.1002941926,NaN,10.1353/hrq.2014.0053,2-s2.0-84908396807

In [11]:
df = df.drop_duplicates()

In [14]:
df = df.drop(columns=['DI'])

In [17]:
df.to_csv('SUSTC_Journals/articles_all/article_ids.csv', index=False)